{% extends "layout.html" %} {% block title %}Project Description{% endblock %}
{% block lead %}Describe how and why you chose your iGEM project.{% endblock %}
{% block page_content %}

<div class="row">
  <div class="col">
    <h2>Motivation</h2>
    <hr />
    <p>
      In March 2023, antibiotic resistant bacteria were discovered in Los
      Angeles County wastewaters (Wang & Smith, 2023). The discovery of
      antibiotic-resistant bacteria in wastewater raises significant concerns
      because wastewater acts as a reservoir for pathogens and their resistance
      genes, suggesting a high likelihood of their presence in the community at
      large. The bacteria found in this case was resistant to colistin, an
      antibiotic medication used as a last-resort treatment for
      multidrug-resistant infections.
    </p>
    <p>
      This incident is merely the tip of the iceberg, representing only a
      fraction of the broader impact of antibiotic-resistant bacteria on local
      communities in California and around the world. Addressing antibiotic
      resistance is of utmost importance due to the significant threat it poses
      to global public health. Antibiotic-resistant bacteria have become
      increasingly prevalent, rendering conventional antibiotics less effective
      in treating infections. Given the situation, bacteriophage therapy holds
      great promise as a potential therapeutic option. Unlike antibiotics, which
      often have a broad-spectrum effect, bacteriophages can be tailored to
      target specific bacterial strains, minimizing harm to beneficial bacteria
      and reducing the likelihood of resistance development. The utilization of
      bacteriophage therapy presents an innovative and promising avenue for
      combating antibiotic-resistant infections, offering a more precise and
      sustainable solution to the global challenge of antibiotic resistance.
    </p>
    <p>
      The rapidly escalating issue of antibiotic resistance calls for immediate
      and innovative action. Annually, over 2.8 million individuals in the U.S.
      are affected, and more than 35,000 lives are claimed by
      antibiotic-resistant bacterial infections (House Committee on Energy and
      Commerce, 2023). Furthermore, projections suggest that, by 2050, deaths
      resulting from drug-resistant bacteria could equal current cancer
      mortality rates—around 10 million annually (UNEP, 2023).
    </p>
    <p>
      Amid this pressing challenge, phage therapy stands out as a promising
      solution. Bacteriophages (bacterial viruses) exhibit the remarkable
      ability to recognize and attach specifically to bacterial cells. Once
      bound, they inject their genetic material and hijack host cellular
      mechanisms to produce a new generation of phages. The unique
      characteristics of bacteriophages, including their targeted specificity
      and evolutionarily built-in antibacterial viability, have prompted
      investigation into their application as a promising therapeutic strategy
      for combating bacterial infections (Sharma et al., 2017).
    </p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2>Description of Project Design</h2>
    <hr />
    <p>
      Our project aims to enhance the host specificity of bacteriophages, making
      it a highly appealing therapeutic option for addressing antibiotic
      resistance in our local and broader communities. The specificity of the
      bacteriophages we will develop allows for a tailored and personalized
      approach to infection treatment, making phage therapy a promising avenue
      for combating antibiotic resistance.
    </p>
    <p>
      The main hurdle to the application of bacteriophages to treat infections
      is target specificity, which causes them to attack beneficial bacteria. To
      counter this, we are developing a “toehold switch”—a synthetic RNA
      structure to enhance target precision. Our aim is to engineer
      bacteriophages to specifically kill bacteria carrying an arbitrary gene,
      such as an antibiotic resistance gene.
    </p>
    <p>
      Our process involves creating a toehold switch to regulate translation of
      bacteriophage genes, integrating it into the bacteriophage genome, and
      verifying its efficacy using a visually quantifiable assay. Initially, the
      toehold switch will be designed to target cells expressing GFP (green
      fluorescent protein), and upon validation, we will adjust it to target
      antibiotic-resistant bacteria. This approach precisely targets bacterial
      pathogens, minimizing harm to bacteria lacking the targeted gene and
      curbing further resistance. It also synergizes effectively with
      antibiotics, offering a potentially powerful therapeutic combination
      (Diallo 2022).
    </p>
    <p>
      We hope to provide a viable solution towards a major obstacle for
      bacteriophage therapy, encourage further research into phage engineering,
      and make it a more appealing therapeutic option to address antibiotic
      resistant bacterial infections. By engineering phages to specifically
      target antibiotic-resistant bacteria, we aim to enhance the specificity of
      phage-based therapies against drug-resistant strains, which can synergize
      with antibiotic treatment. By targeting these bacteria directly, we strive
      to provide a more targeted approach that minimizes the use of
      broad-spectrum antibiotics, thus reducing the selective pressure that
      drives the emergence and spread of antibiotic resistance.
    </p>
    <p>
      Ultimately, addressing antibiotic resistance within our local and broader
      community would improve patient outcomes, reduce the burden on healthcare
      systems, and contribute to the global fight against antibiotic resistance.
      Tackling antibiotic resistance would minimize the spread of drug-resistant
      bacteria within the community, effectively reducing the risk of
      healthcare-associated infections and limiting the potential for
      community-wide outbreaks. By specifically eliminating the presence of
      antibiotic-resistant bacteria, our innovation could improve the
      effectiveness of healthcare interventions by ensuring that common
      infections can be successfully treated with existing antibiotics, reducing
      morbidity and mortality rates associated with antibiotic resistant
      infections.
    </p>
  </div>
  <div class="row">
    <div class="col">
      <h2>Why this Project?</h2>
      <hr />
      <p>
        Antibiotics have long been the cornerstone of treatment for bacterial
        infections and, in many cases, are the only effective care option
        available. However, once a bacterial strain gains antibiotic resistance,
        our resources for fighting these infections become severely limited.
        With more resistant strains in circulation, simple infections will
        suddenly become nearly impossible to fight. We chose this project
        because genetically engineered machines have the potential to address
        the significant and timely need for effective alternatives to
        antibiotics.
      </p>
      <p>
        Developing a phage therapeutic to treat antibiotic-resistant bacterial
        strains would not only effectively address existing medical concerns but
        also help avoid an impending crisis regarding access to medical care.
        The increasing prevalence of antibiotic resistance heightens the risk of
        complications from cancer treatments, organ transplantations, and other
        invasive surgical procedures (Li & Webster, 2018). Treating an infection
        with a second or third line antibiotic adds to medical costs. These next
        line of defenses are usually more expensive and require specialized
        equipment and hospital care (Prestinaci et al., 2015). Critical care for
        infections in the United States alone is estimated to cost 20 billion
        USD in direct healthcare costs as well as 35 billion USD in productivity
        annually (CDC, 2013). These costs limit the availability of care for
        individuals from low-income and marginalized communities, which further
        exacerbates disparities in healthcare (World Bank Group, 2017).
      </p>
    </div>
    <div class="row">
      <div class="col">
        <h2>References</h2>
        <hr />
        <ol className="references">
          <li>
            CDC. (2013). Antibiotic resistance threats - centers for Disease
            Control and Prevention. Centers for Disease Control and Prevention.
            https://www.cdc.gov/drugresistance/pdf/ar-threats-2013-508.pdf
          </li>
          <li>
            Chair Rodgers Opening Statement on the Growing Threat of
            Antimicrobial Resistance. House Committee on Energy and Commerce.
            (2023, April 28).
            https://energycommerce.house.gov/posts/chair-rodgers-opening-statement-on-the-growing-threat-of-antimicrobial-resistance
          </li>
          <li>
            Diallo, Kevin, and Alain Dublanchet. “Benefits of Combined
            Phage–Antibiotic Therapy for the Control of Antibiotic-Resistant
            Bacteria: A Literature Review.” Antibiotics, vol. 11, no. 7, 22 July
            2022, p. 839, https://doi.org/10.3390/antibiotics11070839.
          </li>
          <li>
            Émond E, & Moineau S. In: Bacteriophage: genetics and molecular
            biology. McGrath S, Van Sinderen D. Norfolk, editor. UK: Caister
            Academic Press; 2007. Bacteriophages in food fermentations; pp.
            93–124.
          </li>
          <li>
            Li, B., & Webster, T. J. (2018). Bacteria antibiotic resistance: New
            challenges and opportunities for implant-associated orthopedic
            infections. Journal of orthopaedic research : official publication
            of the Orthopaedic Research Society, 36(1), 22–32.
            https://doi.org/10.1002/jor.23656
          </li>
          <li>
            Liang, J., Zhang, H., Tan, Y. L., Zhao, H., & Ang, E. L. (2022).
            Directed Evolution of Replication-Competent Double-Stranded DNA
            Bacteriophage toward New Host Specificity. ACS synthetic biology,
            11(2), 634–643. https://doi.org/10.1021/acssynbio.1c00319
          </li>
          <li>
            Loc-Carrillo, C., & Abedon, S. T. (2011). Pros and cons of phage
            therapy. Bacteriophage, 1(2), 111–114.
            https://doi.org/10.4161/bact.1.2.14590
          </li>
          <li>
            Prestinaci, F., Pezzotti, P., & Pantosti, A. (2015). Antimicrobial
            resistance: a global multifaceted phenomenon. Pathogens and global
            health, 109(7), 309–318.
            https://doi.org/10.1179/2047773215Y.0000000030
          </li>
          <li>
            Sharma, S., Chatterjee, S., Datta, S., Prasad, R., Dubey, D.,
            Prasad, R. K., & Vairale, M. G. (2017). Bacteriophages and its
            applications: an overview. Folia microbiologica, 62(1), 17–55.
            https://doi.org/10.1007/s12223-016-0471-x
          </li>
          <li>
            Slomovic, Shimyn, et al. “Synthetic Biology Devices for in Vitro and
            in Vivo Diagnostics.” Proceedings of the National Academy of
            Sciences, vol. 112, no. 47, 23 Nov. 2015, pp. 14429–14435,
            https://doi.org/10.1073/pnas.1508521112.
          </li>
          <li>
            UNEP. (2023, February 7). Bracing for Superbugs: Strengthening
            environmental action in the One Health response to antimicrobial
            resistance. UN Environment Programme.
            https://www.unep.org/resources/superbugs/environmental-action
          </li>
          <li>
            Ventola C. L. (2015). The antibiotic resistance crisis: part 1:
            causes and threats. P & T : a peer-reviewed journal for formulary
            management, 40(4), 277–283.
          </li>
          <li>
            Wang, P., & Smith, A. L. (2023). Emergence of Mobile Colistin
            Resistance Genes within Los Angeles County Wastewater. Environ. Sci.
            Technol. Lett., 10(4), 316–321.
            https://pubs.acs.org/doi/10.1021/acs.estlett.3c00080
          </li>
          <li>
            World Bank Group. (2017, May 2). Drug-Resistant Infections: A Threat
            to Our Economic Future. World Bank.
            https://www.worldbank.org/en/topic/health/publication/drug-resistant-infections-a-threat-to-our-economic-future
          </li>
        </ol>
      </div>
    </div>

    {% endblock %}
